.selectedPage {
    font-weight: bold;
    color: red;
}

.menuPages {
    display: flex;
    flex-direction: row;
}

.menuPages span {
    margin: 5px;
}

.menuPages :hover {
    cursor: pointer;
}


/* .paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid red;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: greenyellow;
} */