.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItems {
    padding: 10px;
}

.dialogsItems a {
    color: #fff;
    text-decoration: none;
}

.dialogsItems .active {
    color: rgb(255, 60, 0);
}

.messages {
    padding: 10px;
}

label span {
    color: aqua;
}