ul li {
  list-style-type: georgian;
}

.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 5px;

}

.header {
  grid-area: h;
  background-color: rgb(247, 223, 143);
}
.header img {
  height:40px;
  margin: 10px 10px;
}
.nav {
  grid-area: n;
  background-color: rgb(137, 218, 218);
}
.nav div a {
  text-decoration: none;
  color:rgb(0, 0, 0);
  margin: 10px;
}

.content{
  grid-area: c;
  background-color: rgb(205, 201, 201);
}
.content img{
  width:400px;
  height: 200px;
}