.nav {
  grid-area: n;
  background-color: rgb(58, 58, 58);
}

.item {
  margin: 10px;
}

.item a {
  color: white;
  text-decoration: none;

}

.item a:hover {
  color: #fff;
}

.item a.activeLink {
  color: gold;
}

.itemFriends {
  margin-top: 50px;
}

.itemFriends span {
  font-size: 30px;
  color: #fff;
}