.nav {
  grid-area: n;
  background-color: rgb(68, 170, 193);
}

.item {
  margin: 10px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: gold;
}

.itemFriends {
  margin-top: 50px;
}

.itemFriends span {
  font-size: 30px;
  color: #fff;
}